<%= form_with(model: problem, local: true) do |form| %>
  <% if problem.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(problem.errors.count, "error") %> prohibited this problem from being saved:</h2>

      <ul>
      <% problem.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :problem_name %>
  </div>

  <div class="field">
    <%= form.label :text %>
    <%= form.text_area :text, id: :problem_text %>
  </div>

    <div class="field">
    <%= form.label :text %>
    <%= form.text_field :input1, id: :problem_input1 %>
  </div>

    <div class="field">
    <%= form.label :text %>
    <%= form.text_field :output1, id: :problem_output1 %>
  </div>

    <div class="field">
    <%= form.label :text %>
    <%= form.text_field :input1, id: :problem_input2 %>
  </div>

    <div class="field">
    <%= form.label :text %>
    <%= form.text_field :output2, id: :problem_output2 %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
