<%= form_with(model: problem, local: true, class: "form-horizontal") do |form| %>
  <% if problem.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(problem.errors.count, "error") %> prohibited this problem from being saved:</h2>

      <ul>
      <% problem.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name, class: "control-label col-sm-2" %>
    <div class="col-sm-10">
      <%= form.text_field :name, id: :problem_name, class: "form-control" %>
    </div>  
  </div>

  <div class="form-group">
    <%= form.label :text, class: "control-label col-sm-2" %>
    <div class="col-sm-10">
      <%= form.text_area :text, id: :problem_text, class: "form-control" %>
    </div>
  </div>

    <div class="form-group">
    <%= form.label :input1, class: "control-label col-sm-2" %>
    <div class="col-sm-10">
      <%= form.text_field :input1, id: :problem_input1, class: "form-control" %>
      </div>
  </div>

    <div class="form-group">
    <%= form.label :output1, class: "control-label col-sm-2" %>
    <div class="col-sm-10">
      <%= form.text_field :output1, id: :problem_output1, class: "form-control" %>
    </div>
  </div>

    <div class="form-group">
    <%= form.label :input2, class: "control-label col-sm-2" %>
    <div class="col-sm-10">
      <%= form.text_field :input2, id: :problem_input2, class: "form-control" %>
    </div>
  </div>

    <div class="form-group">
    <%= form.label :output2, class: "control-label col-sm-2" %>
    <div class="col-sm-10">
      <%= form.text_field :output2, id: :problem_output2, class: "form-control" %>
    </div>
  </div>


  <div class="form-group">
    <%= form.submit class: "btn btn-default" %>
  </div>
<% end %>
