<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @problem.name %>
</p>

<p>
  <strong>Text:</strong>
  <%= @problem.text %>
</p>

<p>
  <strong>Input1:</strong>
  <%= @problem.input1 %>
</p>

<p>
  <strong>Output1:</strong>
  <%= @problem.output1 %>
</p>

<p>
  <strong>Input1:</strong>
  <%= @problem.input2 %>
</p>

<p>
  <strong>Output2:</strong>
  <%= @problem.output2 %>
</p>

<%= link_to 'Edit', edit_problem_path(@problem) %> |
<%= link_to 'Back', problems_path %>
